:root{
    --low: #5c99cb;
    --medium: #dab51f;
    --high: #df4848;
    
    --unstarted: #9a9a9a;
    --ongoing: #b16700;
    --completed: #278d02;
}

.task{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  width: 100%;
  height: 121px;
  padding: 18px 20px;



  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

.task::before {
  content: "";
  position: absolute;

  top: 5px;    
  right: 5px;   
  bottom: 5px; 
  left: 5px;

  background-color: #1C1C1C;
  opacity: 0.5;

  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* FIRST SECTION */
.task__actions{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6px;
  height: max-content;
  width: max-content;

}

.task__action{
  display: flex;
  background: none;
  border: 1px solid #AFAFAF;

  cursor: pointer;
}

.task__action-notes{
    position: relative;

    width: 100%;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    justify-content: center;
}



.task__action-delete{
    position: relative;
    height: 29px;
    width: 106px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    justify-content: flex-end;
}


.task__action-edit{
    position: relative;
    width: 106px;
    height: 29px;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    justify-content: flex-start;
}


/* ICON/SEPERATOR STYLING */

.task__view-icon{
  position: absolute;

  top: 8px;

  left: 5px;
}

.task__iconseperator-view{
  position: absolute;

  width: 1px;
  height: 100%;

  
  background-color: #AFAFAF;

  left: 31px;
}

.task__iconseperator-delete{
  position: absolute;
  height: 100%;
  width: 1px;
  
  background-color: #AFAFAF;

  left: 31px;
}

.task__delete-icon{
  position: absolute;

  top: 7px;
  left: 10px;
}


.task__iconseperator-edit{
  position: absolute;
  height: 100%;
  width: 1px;

  background-color: #AFAFAF;


  right: 31px;
}

.task__edit-icon{
  position: absolute;

  top: 6px;
  right: 8px;
}

.task__action-text{font-size: 20px;}

/* ACTION DECORATION STYLING */

.task__action-decoration--left{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 3px;
    
    

    height: 100%;
    width: 30px;


    top: -1px;
    right: -30px;
}

.task__action-decoration--right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    gap: 4px;
    
    

    height: 100%;
    width: 30px;


    top: -1px;
    left: -30px;
}
.task__decoration-svg{ height: 33px;}

/* MIDDLE SECTION */

.task__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    
    height: fit-content;

    z-index: 1;
}

.task__title{
    font-size: 32px;
    font-weight: 400;
}

.task__info-divider{
    height: 1px;
    width: 230px;

    background-color: var(--main-white);
}

.task__date-container{
    display: flex;
    align-items: center;
    gap: 10px;
}


.task__date-icon{ 
    margin-bottom: 3px;
    height: 15px;
}
.task__date, .task__date-icon{color:#A2A2A2;}
.task__date{font-size: 16px;}

/* LAST SECTION */

.task__stats{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;

    gap: 31px;

    z-index: 1;
}

.task__priority, .task__status{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
    width: 88px;
}

.task__priority-icon, .task__status-icon{
    height: 23px;
}

.task__priority-underlight, .task__status-underlight{
    height: 2px;
    width: 100%;
}


.task__priority-underlight--low{
    background-color: #6BADE3;
}

.task__priority-underlight--medium{
    background-color: #fff020;
}
.task__priority-underlight--high{
    background-color: #D76161;
}

.task__status-underlight--unstarted{
    background-color: #AAAAAA;
}
.task__status-underlight--ongoing{
    background-color: #F38F04;
}
.task__status-underlight--completed{
    background-color: #4EDE1A;
}