@import url();


:root{
  --background-main-black: #151515;
  --main-white: #FFFFFF;

  --sidebar-sections-gap: 20px;
}
*{
  font-family: sans-serif;
  box-sizing: border-box !important;
 
  color: var(--main-white);
}

button{
  border: 0;
  padding: 0;
}

.icon{
  height: 25px;
}

.app-container{
  display: grid;
  height: 100vh;

  grid-template: 79px 1fr / 272px 1fr;
}


.flex-wrapper{
  position: relative;
  display: flex;

  height: fit-content;

  align-items: center;
}

.margin-right-auto{
  margin-right: auto;
}

.margin-right-sm{
  margin-right: 7px;
}

.margin-right-med{
  margin-right: clamp(4px, 1.875vw, 36px);
}

.margin-left-sm{
  margin-left: 7px;
}

.gap-md{
  gap: 62px;
}


/* Header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-column: 1 / 3;
  padding: 0 17px;

  background-color: var(--background-main-black);
  border-bottom: 1px solid var(--main-white);

}

.header__button{
  display: flex;
  align-items: center;
  gap: clamp(2px, 1vw, 18px);

  height: 25px;
  width: max-content;

  background: none;

  cursor: pointer;
}

.header__button-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 32px;
  min-width: 32px;
  
  border-radius: 6px;
  border: 1px solid var(--main-white);
  
  background-color: #262626;
}
.header__button-icon{
  height: 19px;
  width: 22px;

}

.header__button-text{
  max-height: 36px;
  width: max-content;

  font-size: 24px;
  color: var(--main-white);
}

.header__search{

  width: 255px;

  border-radius: 6px;
  border: 1px solid var(--main-white);

  background-color: #262626;
}

.header__heading{
  position: absolute;
  left: 55%;

  font-size: 24px;
  font-weight: 400;


  color: var(--main-white);
}

.header__heading--highlight{
  color: #777777;
}

/* SIDEBAR */

.sidebar{
  display: flex;
  flex-direction: column;

  grid-row: 2/ 3;
  gap: 50px;
  padding: 15px 13px;


  border-right: solid 1px white;
  background-color: var(--background-main-black);

  z-index: 1;
}

.sidebar__title{
  display: inline-block;

  font-size: 14px;
}

.sidebar__minimize-icon{
  height: 25px;
}

.sidebar__seperator{
  height: 1px;
  width: 100%;

  background-color: var(--main-white);
}

.sidebar__home{
  display: flex;
  flex-direction: column;

  gap: var(--sidebar-sections-gap);
}

.home__actions{
  display: flex;
  flex-direction: column;
  
  margin-left: 3px;
  gap: 24px;
}
.home__action{
  display: flex;
  align-items: center;
  
  gap: 19px;
  height: 21px;
}

.home__action-text{
  width: max-content;

  font-size: 20px;
}

.home__icon-decorator{
  height: 21px;
  width: 2px;

  background-color: var(--main-white);
}

.sidebar__projects{
  display: flex;
  flex-direction: column;
  
  gap: var(--sidebar-sections-gap);
}



.sidebar__title-decoration{
  position: absolute;
  height: 100%;
  width: 290px;

  background-color: #040404;

  border: 1px solid white;

  border-radius: 10px;

  left: -31px;

  z-index: -1;
}

.projects__container{
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.projects__project{


  margin-left: 38px;
}

.projects__project-text{
  font-size: 20px;
  
  color: #000000;

  

  z-index: 1;
}

.projects__project-pointer{
  position: absolute;
  left: 106%;
}
/* tree styling for sidebar projects */
.vertical-first{
  position: absolute;
  top: -46%;
  left: -21%;

  height: 25px;
  width: 2px;



  background-color: var(--main-white);
}

.vertical{
  position: absolute;
  top: -154%;
  left: -21%;

  height: 51px;
  width: 2px;

  border-bottom-left-radius: 42px;



  background-color: var(--main-white);
}
.horizontal{
  position: absolute;
  top: 50%;
  left: -20%;

  height: 2px;
  width: 36px;


  background-color: var(--main-white);
}

.rectangle{
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  
  height: 24px;
  width: 172px;

  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;

  background-color: var(--main-white);
  z-index: -1;
}

.sidebar__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;

  margin-top: auto;
}

.sidebar__github{
  height: 45px;
}

.sidebar__copyright{
  font-size: 15px;
  font-weight: 100;
}
/* MAIN CONTENT */

.main-content{
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #191919;

  padding: 21px 30px;
}

.task-add{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  width: 100%;
  height: 121px;
  padding: 18px 20px;

  background-color: #131313;

  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;

  cursor: pointer;
}